<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Profile Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Job Application Generator</h1>
        </header>
        
        <div class="button-container">
            <a href="/" class="button">Back to Home</a>
        </div>
        
        <p>Coming Soon!</p>
    </div>
</body>
</html>
